Filter naziv igre: <input [(ngModel)]="filterNaziv" />
<button (click)="SearchButton()">Search</button>

<div>
  <table>
    <thead>
    <tr>
      <th>Naziv</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of filterGames()">
      <td>{{i.naziv}}</td>
      <td>
        <a class="button" [routerLink]="['/game-details', i.igraId]">Detalji igre</a> |
        <button [routerLink]="['/edit-game', i.igraId]">Edit</button>
        <button (click)="DeleteGame(i)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <ngb-pagination [collectionSize]="colSize" [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="colSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
  </ngb-pagination>
</div>



